<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>添加投稿信息</title>
    <!--Bootstrap-->

    <link rel="stylesheet" href="../bootstrap/bootstrapvalidator/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="../bootstrap/bootstrapvalidator/dist/css/bootstrapValidator.css"/>

    <script type="text/javascript" src="../bootstrap/bootstrapvalidator/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../bootstrap/bootstrapvalidator/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../bootstrap/bootstrapvalidator/dist/js/bootstrapValidator.js"></script>

    <link href="../bootstrap/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="../bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <script src="../bootstrap/js/bootstrap-datetimepicker.min.js"></script>
    <script src="../bootstrap/js/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="../bootstrap/js/bootstrap-datetimepicker.js"></script>

    <!--Font Awesome Icons-->
    <link href="../bootstrap/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- PE Icon 7 Stoke -->
    <link href="../bootstrap/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">
    <link href="../bootstrap/fonts/pe-icon-7-stroke/css/helper.css" rel="stylesheet">
    <!-- Quicksand Dash -->
    <link href="../bootstrap/fonts/quicksand-dash/stylesheet.css" rel="stylesheet">
    <!-- Owl Carousel -->
    <link href="../bootstrap/css/owl.carousel.css" rel="stylesheet">
    <link href="../bootstrap/css/owl.theme.default.css" rel="stylesheet">
    <!-- Style.css -->
    <!--link href="../static/bootstrap/css/bootstrap-maizi.css" rel="stylesheet"-->
    <link href="../bootstrap/css/logo.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <!-- 导航固定在顶部 -->
    <div class="container">
        <!-- 容器 -->
        <!--小屏幕导航按钮和logo-->
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <!-- 绑定 -->
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a href="index.html" class="navbar-brand">写作系统</a>
        </div>
        <!--小屏幕导航按钮和logo-->
        <!--导航-->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="index.html">首页</a></li>
                <li><a href="prepare.html" class="active">前期准备</a></li>
                <li><a href="">论文撰写</a></li>
                <li><a href="">阅读与评价</a></li>
            </ul>
        </div>
        <!--导航-->
    </div>
</nav><!-- end .header -->
<div class="prepare">
    <div class="inner">
        <div class="container">
            <div class="row">
                <ul class="breadcrumb">
                    <li><a href="prepare.html" class="active">投稿信息</a></li>
                    <li><a href="keyword.html" >建立关键词与学者名单</a></li>
                    <li><a href="paperCollection.html">文献搜集</a></li>
                </ul>
                <div class="col-md-12">
                    <div class="page-header">
                        <h1>前期准备</h1>
                    </div>
                    <ul class="nav nav-tabs">
                        <li>
                            <a href="prepare.html">投稿信息/目标设定</a>
                        </li>
                        <li class="active">
                            <a href="addinfo.html">添加投稿信息</a>
                        </li>
                        <li>
                            <a href="goalSetting.html">进度规划</a>
                        </li>
                    </ul>
                    <form  id="addinfo" class="mar_t15" style="margin-top: 10px" th:action="@{/PaperInfoSub}" method="post">
                        <div class="form" id="alerttest">
                            <div class="alert alert-danger" th:if="${infojudge}" >
                                <a href="#" class="close" data-dismiss="alert">&times;</a>
                                <strong>这个会议已经有人添加过了哦</strong>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="meetingname">会议名称</label>
                            <textarea id="meetingname" class="form-control" name="meetingname"
                                      placeholder="请输入会议名称"></textarea>
                        </div>
                        <div class="form-group">
                            <!--日期-时间选择-->
                            <label>截稿日期</label>
                            <!--指定 date标记-->
                            <div class='input-group date' data-date-format="dd MM yyyy" id='datetimepicker1'>
                                <input type='text' class="form-control" name="time"/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lang">语言</label>
                            <select id="lang" class="form-control" name="lang">
                                <option>英文</option>
                                <option>中文</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>等级</label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="SCI" text="SCI" value="SCI">SCI
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="EI" text="EI" value="EI">EI
                            </label>

                            <label class="checkbox-inline">
                                <input type="checkbox" name="hexin" text="核心期刊" value="核心期刊">核心期刊
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="SSCI" text="SSCI" value="SSCI">SSCI
                            </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" name="el" text="el" value="其他">其他
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="url">网站</label>
                            <input name="url" class="form-control" id="url">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default pull-right">提交</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../bootstrap/js/jquery.singlePageNav.min.js"></script>
<script>
    $(function () {
        $('#datetimepicker1').datetimepicker({
            minView: 3,
            format: 'yyyy-mm-dd',
        });
        $('#addinfo').bootstrapValidator({

            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                meetingname: {
                    message: '用户名验证失败',
                    validators: {
                        notEmpty: {
                            message: '会议/期刊名称不能为空哦'
                        }
                    }
                },
            }
        });
    });
    $(function () {
        $('.navbar-collapse a').click(function () {
            $('.navbar-collapse').collapse('hide');
        });
    })
    $(function(){
        $(".close").click(function(){
            $("#nocheck").alert('close');
            $("#alertself").alert('close');
            $("#alertselfirst").alert('close');
            $("#alerttest").alert('close');
        });
    });
    $(function () {

    });

</script>
</body>
</html>