<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>目标设定</title>
    <!--Bootstrap-->

    <link href="../bootstrap/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="../bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../bootstrap/bootstrapvalidator/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="../bootstrap/bootstrapvalidator/dist/css/bootstrapValidator.css"/>

    <script type="text/javascript" src="../bootstrap/bootstrapvalidator/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../bootstrap/bootstrapvalidator/bootstrap/js/bootstrap.min.js"></script>

    <link href="../bootstrap/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="../bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <script src="../bootstrap/js/bootstrap-datetimepicker.min.js"></script>

    <script src="../bootstrap/js/bootstrap-datetimepicker.js"></script>
    <!--BootstrapValidator-->
    <link href="../bootstrap/bootstrapvalidator/src/css/bootstrapValidator.css" rel="stylesheet">
    <script src="../bootstrap/bootstrapvalidator/src/js/bootstrapValidator.js"></script>
    <!--Font Awesome Icons-->
    <link href="../bootstrap/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- PE Icon 7 Stoke -->
    <link href="../bootstrap/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">
    <link href="../bootstrap/fonts/pe-icon-7-stroke/css/helper.css" rel="stylesheet">
    <!-- Quicksand Dash -->
    <link href="../bootstrap/fonts/quicksand-dash/stylesheet.css" rel="stylesheet">
    <!-- Owl Carousel -->
    <link href="../bootstrap/css/owl.carousel.css" rel="stylesheet">
    <link href="../bootstrap/css/owl.theme.default.css" rel="stylesheet">
    <!-- Style.css -->
    <!--link href="../static/bootstrap/css/bootstrap-maizi.css" rel="stylesheet"-->
    <link href="../bootstrap/css/logo.css" rel="stylesheet">
</head>
<body>
<div th:replace="pagehead :: nav"></div><!-- end .header --><!-- end .header -->
<div class="prepare">
    <div class="inner">
        <div class="container">
            <div class="row">
                <ul class="breadcrumb">
                    <li><a href="prepare.html" class="active">投稿信息</a></li>
                    <li><a href="keyword.html" >建立关键词与学者名单</a></li>
                    <li><a href="paperCollection.html">文献搜集</a></li>
                </ul>
                <div class="col-md-12">
                    <ul class="nav nav-tabs">
                        <li>
                            <a href="prepare.html">投稿信息/目标设定</a>
                        </li>
                        <li>
                            <a href="addinfo.html">添加投稿信息</a>
                        </li>
                        <li class="active">
                            <a href="goalSetting.html">进度规划</a>
                        </li>
                    </ul>
                    <table class="table able-striped  table-content" id="tab">
                        <thead>
                        <tr>
                            <th>章节</th>
                            <th>时间</th>
                            <th>完成字数</th>
                            <th>修改</th>
                            <th>删除</th>
                        </tr>
                        </thead>
                        <tbody id="trs">
                        <div th:if="${nonegoals}">
                            <h4 class="center-block" style="color: #b8daff">暂时还没有计划</h4>
                        </div>
                        <div th:if="${mygoals}">
                            <div th:each="stugoals,iterStat:${stugoals}">
                                <tr>
                                    <td th:text="${stugoals.chapter}"></td>
                                    <td>
                                    <div class='input-group date' data-date-format="dd MM yyyy" id='datetimepicker'>
                                        <input type='text' class="form-control" th:value="${stugoals.date}"/>
                                        <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                    </td>
                                    <td><input  th:value="${stugoals.words}"></td>
                                    <td><a th:href="|javascript:updategoals('${iterStat.index}','${stugoals.chapter}','${stugoals.id}')|">保存修改</a></td>
                                    <td><a th:href="@{'/delg?id='+${stugoals.id}+'&chapter='+${stugoals.chapter}}">删除</a></td>
                                </tr>
                            </div>
                        </div>
                        </tbody>
                    </table>
                    <button  data-toggle="modal" data-target="#goalModal"  class="button center-block" >添加目标计划</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="upd">
</div>
<div class="modal fade" id="goalModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">添加目标计划</h4>
            </div>
            <div class="modal-body">
                <form th:action="@{/subGoals}" method="post" id="form-register">
                    <div class="form" id="alerttest">
                        <div class="alert alert-danger" th:if="${registerjudge}" >
                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                            <strong></strong>
                        </div>
                    </div>
                    <label for="chapter">论文章节</label>
                    <select id="chapter" class="form-control" name="chapter">
                        <option>摘要</option>
                        <option>引言</option>
                        <option>相关研究</option>
                        <option>研究主体</option>
                        <option>研究方法</option>
                        <option>研究结果</option>
                        <option>讨论</option>
                        <option>结论</option>
                        <option>参考文献</option>
                    </select>
                    <label for="date">完成日期</label>
                    <div class='input-group date' data-date-format="dd MM yyyy" id='datetimepicker1'>
                        <input type='text' class="form-control" name="date" id="date"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    <label for="wordnum">完成字数</label>
                    <input type="text" id="wordnum" name="wordnum" class="form-control" placeholder="完成字数"
                           required data-bv-notempty-message="字数不为空">
                    <div class="modal-footer">
                        <input type="submit" id="subscribe"  class="button" onclick="checkradio()">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer>
    <div th:replace="footer :: footer"></div>
</footer>
<script src="../bootstrap/js/jquery.singlePageNav.min.js"></script>
<script>
    $(function () {
        $('.navbar-collapse a').click(function () {
            $('.navbar-collapse').collapse('hide');
        });
    })
    $('#datetimepicker').datetimepicker({
        minView: 3,
        format: 'yyyy-mm-dd',
    });
    $('#datetimepicker1').datetimepicker({
        minView: 3,
        format: 'yyyy-mm-dd',
    });

    updategoals=function(i,chapter,gid) {
        var trList = $("#trs").children("tr");
        var tdArr = trList.eq(i).find("td");
        var date= tdArr.eq(1).find("input").val();//日期
        var words = tdArr.eq(2).find("input").val();// 字数
        console.log(date,words,chapter,gid);
        $.ajax({
            url: '/updategoals',
            data: {
                date:date,
                word:words,
                chapter:chapter,
                id:gid
            },
            dataType: 'json',
            type: 'post',
            success: function(data) {
                console.log(data);
                alert("更新成功")
                window.location.href = '/goalSetting'
            }
        });
    }
</script>
</body>
</html>