<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>意见监控</title>
    <!--Bootstrap-->
    <link href="../bootstrap/css/bootstrap-datetimepicker.css" rel="stylesheet">
    <link href="../bootstrap/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../bootstrap/bootstrapvalidator/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="../bootstrap/bootstrapvalidator/dist/css/bootstrapValidator.css"/>

    <script type="text/javascript" src="../bootstrap/bootstrapvalidator/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../bootstrap/bootstrapvalidator/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../bootstrap/bootstrapvalidator/dist/js/bootstrapValidator.js"></script>

    <link href="../bootstrap/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- PE Icon 7 Stoke -->
    <link href="../bootstrap/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">
    <link href="../bootstrap/fonts/pe-icon-7-stroke/css/helper.css" rel="stylesheet">
    <!-- Quicksand Dash -->
    <link href="../bootstrap/fonts/quicksand-dash/stylesheet.css" rel="stylesheet">
    <!-- Owl Carousel -->
    <link href="../bootstrap/css/owl.carousel.css" rel="stylesheet">
    <link href="../bootstrap/css/owl.theme.default.css" rel="stylesheet">
    <!-- Style.css -->
    <!--link href="../static/bootstrap/css/bootstrap-maizi.css" rel="stylesheet"-->
    <link href="../bootstrap/css/logo.css" rel="stylesheet">
</head>
<body>
<div th:replace="pagehead :: nav"></div><!-- end .header -->
<div class="papers">
    <div class="mypaper" style="padding-top: 80px">
        <ul class="breadcrumb col-md-10 col-md-offset-1" style="padding-top: 7px">
            <li><a href="OptMonitor.html" style="font-size: 25px">意见监控</a></li>
            <li class="active"><a href="companion.html">我的伙伴</a></li>
            <li><a href="students.html">添加伙伴</a></li>
        </ul>
        <div class="container">
            <tr class="row">
                <div class="col-md-10 col-md-offset-1">
                    <a data-toggle="modal" data-target="#title" href="javascript:void(0)" th:text="${title}" style="color: #0e90d2;font-size: 33px"></a>
                    <div style="height: 6px"></div>
                    <div class="panel-info">
                        <table class="table table-bordered ">
                            <thead>
                            <tr>
                                <th>章节</th>
                                <th>修改</th>
                                <th>处理意见</th>
                                <th>已处理意见</th>
                                <th>未处理意见</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${map['chp0']}!=null">
                                <td><p>摘要</p></td>
                                <td><a th:href="@{'/RevisePaper?chapter='+'摘要'}">修改</a></td>
                                <td><a th:href="@{'/HandlingOpt?chapter='+'摘要'}">处理意见</a></td>
                                <td><p th:text="${map['chp0']['opt12']}"></p></td>
                                <td><p th:text="${map['chp0']['opt0']}"></p></td>
                            </tr>
                            <tr><td><a href="keyword.html">关键字</a></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr th:if="${map['chp1']}!=null">
                                <td><p>引言</p></td>
                                <td><a th:href="@{'/RevisePaper?chapter='+'引言'}">修改</a></td>
                                <td><a th:href="@{'/HandlingOpt?chapter='+'引言'}">处理意见</a></td>
                                <td><p th:text="${map['chp1']['opt12']}"></p></td>
                                <td><p th:text="${map['chp1']['opt0']}"></p></td>
                            </tr>
                            <tr th:if="${map['chp2']}!=null">
                                <td><p>相关研究</p></td>
                                <td><a th:href="@{'/RevisePaper?chapter='+'相关研究'}">修改</a></td>
                                <td><a th:href="@{'/HandlingOpt?chapter='+'相关研究'}">处理意见</a></td>
                                <td><p th:text="${map['chp2']['opt12']}"></p></td>
                                <td><p th:text="${map['chp2']['opt0']}"></p></td>
                            </tr>
                            <tr th:if="${map['chp3']}!=null">
                                <td><p>研究主体</p></td>
                                <td><a th:href="@{'/RevisePaper?chapter='+'研究主体'}">修改</a></td>
                                <td><a th:href="@{'/HandlingOpt?chapter='+'研究主体'}">处理意见</a></td>
                                <td><p th:text="${map['chp3']['opt12']}"></p></td>
                                <td><p th:text="${map['chp3']['opt0']}"></p></td>
                            </tr>
                            <tr th:if="${map['chp4']}!=null">
                                <td><p>研究方法</p></td>
                                <td><a th:href="@{'/RevisePaper?chapter='+'研究方法'}">修改</a></td>
                                <td><a th:href="@{'/HandlingOpt?chapter='+'研究方法'}">处理意见</a></td>
                                <td><p th:text="${map['chp4']['opt12']}"></p></td>
                                <td><p th:text="${map['chp4']['opt0']}"></p></td>
                            </tr>
                            <tr th:if="${map['chp5']}!=null">
                                <td><p>研究结果</p></td>
                                <td><a th:href="@{'/RevisePaper?chapter='+'研究结果'}">修改</a></td>
                                <td><a th:href="@{'/HandlingOpt?chapter='+'研究结果'}">处理意见</a></td>
                                <td><p th:text="${map['chp5']['opt12']}"></p></td>
                                <td><p th:text="${map['chp5']['opt0']}"></p></td>
                            </tr>
                            <tr th:if="${map['chp6']}!=null">
                                <td><p>讨论</p></td>
                                <td><a th:href="@{'/RevisePaper?chapter='+'讨论'}">修改</a></td>
                                <td><a th:href="@{'/HandlingOpt?chapter='+'讨论'}">处理意见</a></td>
                                <td><p th:text="${map['chp6']['opt12']}"></p></td>
                                <td><p th:text="${map['chp6']['opt0']}"></p></td>
                            </tr>
                            <tr th:if="${map['chp7']}!=null">
                                <td><p>结论</p></td>
                                <td><a th:href="@{'/RevisePaper?chapter='+'结论'}">修改</a></td>
                                <td><a th:href="@{'/HandlingOpt?chapter='+'结论'}">处理意见</a></td>
                                <td><p th:text="${map['chp7']['opt12']}"></p></td>
                                <td><p th:text="${map['chp7']['opt0']}"></p></td>
                            </tr>
                            <tr><td><p>参考文献</p></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
    </div>
</div>
<div class="modal fade" id="title" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">添加论文题目</h4>
            </div>
            <div class="modal-body">
                <form th:action="@{/setmypapername}" method="post" id="form-title">
                    <label for="mypapername">论文标题</label>
                    <input type="text" id="mypapername" name="mypapername" class="form-control" placeholder="我的论文题目" required data-bv-notempty-message="不能为空">
                    <div class="modal-footer">
                        <input type="submit" id="subscribe"  class="button" onclick="checkradio()">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<footer>
    <div th:replace="footer :: footer"></div>
</footer>
<script src="../bootstrap/js/jquery.singlePageNav.min.js"></script>
<script>
    $(function () {
        $('.navbar-collapse a').click(function () {
            $('.navbar-collapse').collapse('hide');
        });
    })
    function checkradio(){
        alert("注册成功️")

        return true;
    }
</script>

</body>
</html>